body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(167, 152, 114);
}

.content {
    margin: 0 auto;
    border-radius: 5px;
    background-color: bisque;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    text-align: center;
    /* border */
    width: 100%;
}

th {
    height: 30px;
    background-color:  rgb(186, 167, 120);
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 100%;
}

.add_new{
    margin: 0 auto;
    border-radius: 5%;
    width: 400px;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
